---
import {
  Pagination,
  PaginationContent,
  PaginationItem,
  PaginationNext,
  PaginationPrevious,
} from "@/components/ui/pagination";
import Giscus from "@giscus/react";
import { Image } from "astro:assets";

export interface Props {
  category: string;
  title: string;
  description: string;
  id: string;
  imageUrl: ImageMetadata;
  previous: { title: string; href: string } | null;
  next: { title: string; href: string } | null;
}

const { category, title, description, id, imageUrl, previous, next } =
  Astro.props;
const showPagination = previous || next;

const repo = import.meta.env.REPO;
const repoId = import.meta.env.REPO_ID;
const categoryId = import.meta.env.CATEGORY_ID;
---

<div class="mx-auto min-h-screen max-w-7xl px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
    <div class="relative flex items-start gap-x-16">
      <div class="flex-1 overflow-hidden">
        <!-- Content -->
        <div
          class="mx-auto w-full max-w-3xl text-base leading-7 text-foreground/70"
        >
          <p class="text-base font-semibold leading-7 text-primary">
            {category}
          </p>
          <h1
            class="mt-2 text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
          >
            {title}
          </h1>
          <p class="mt-6 text-xl leading-8">
            {description}
          </p>
          <Image
            format="avif"
            src={imageUrl}
            alt={title}
            class="mt-6 aspect-[16/9] w-full rounded-2xl bg-muted object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            transition:name={`img-${id}`}
          />
          <slot />
          {
            showPagination && (
              <div class="mt-10">
                <Pagination>
                  <PaginationContent className="flex-1">
                    {previous && (
                      <PaginationItem>
                        <PaginationPrevious href={previous.href} />
                      </PaginationItem>
                    )}
                    {next && (
                      <PaginationItem className="ml-auto">
                        <PaginationNext href={next.href} />
                      </PaginationItem>
                    )}
                  </PaginationContent>
                </Pagination>
              </div>
            )
          }
          <div class="mt-18 md:mt-24">
            <Giscus
              id={id}
              repo={repo}
              repoId={repoId}
              category="Comments"
              categoryId={categoryId}
              mapping="url"
              term="Welcome!"
              reactionsEnabled="1"
              emitMetadata="0"
              inputPosition="top"
              theme="preferred_color_scheme"
              lang="en"
              loading="lazy"
              client:only="react"
            />
          </div>
        </div>
      </div>
      <!-- Aside -->
      <aside
        class="sticky top-0 hidden h-dvh w-60 shrink-0 overflow-y-auto lg:block"
      >
        <p class="py-4 text-sm font-bold uppercase tracking-wide">
          On This Page
        </p>
        <ul class="space-y-2.5 py-2 text-sm leading-6" id="article-list"></ul>
      </aside>
    </div>
  </div>
</div>
