---
import { Image } from "astro:assets";

export interface Props {
  category: string;
  title: string;
  description: string;
  id: string;
  imageUrl: ImageMetadata;
}

const { category, title, description, id, imageUrl } = Astro.props;
---

<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <p class="text-base font-semibold leading-7 text-indigo-600">
      {category}
    </p>
    <h1
      class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
    >
      {title}
    </h1>
    <p class="mt-6 text-xl leading-8">{description}</p>
    <Image
      format="avif"
      src={imageUrl}
      alt={title}
      class="mt-6 aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
      transition:name={`img-${id}`}
    />
    <slot />
  </div>
</div>
