---
import Header from "../components/Header";
import Footer from "../components/Footer";
export interface Props {
  title: string;
  description: string;
  permalink: string;
}

const { title, description, permalink } = Astro.props;
const socialUrl = Astro.url.href + "assets/social.png";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="keywords" content="Cheat sheet" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={permalink} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialUrl} />
    <!-- Others -->
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
